body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 8%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.white-nav {
  background-color: white;
  border-bottom: 5px solid #e7f8fc;
  color: white;
  margin-top: -10px;
  height: 100px;
}

.logo {
  font-family: 'Megrim', cursive;
  font-size: 32px;
  color: black;
}

.logo:hover {
  text-decoration: none;
}

.nav-padding-right {
  text-transform: uppercase;
}

.nav-padding-right .nav-hover:hover {
  text-decoration: none;
}

.container {
  margin-top: 100px;
}

.center-btn {
  margin-top: 50px;
  text-align: center;
}

.button {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  text-transform: uppercase;
}

.title {
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 56px;
}

.carousel-size {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.carousel-caption {
  color: black !important;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.89) !important;
}

.margin-top {
  margin-top: 15%;
  text-align: center;
}

.button-login {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  text-transform: uppercase;
}

.form-margin {
  margin-top: 5%;
}

.products-image-size {
  width: 75%;
  border: 2px solid #e7f8fc;
}

.products-image-size:hover {
  opacity: 0.5;
}

.center-products {
  text-align: center;
  margin-top: 5%;
}

.uppercase {
  text-transform: uppercase;
  margin-top: 10%;
}

.single-product-margin {
  margin-top: 5%;
}

.product-center {
  text-align: center;
}

.price {
  margin-top: 5%;
  font-size: 20px;
}

.checkout {
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
}

.checkout-image {
  text-align: center;
}

.product-title {
  margin-top: -6%;
  margin-bottom: 8%;
}

.user-log {
  margin-left: 50px;
  margin-top: 8%;
}

.button-margin-left {
  margin-left: 55px;
}
